<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<form class="layui-form" th:action="@{/edit}" method="post">
    <div class="layui-fluid">
        <div class="layui-row">
            <!-- 昵称-->
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>LastName
                </label>
                <div class="layui-input-inline">
                    <input th:value="${emp.getLastName()}" type="text" id="L_username" name="lastName" required="" lay-verify="nikename" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--邮箱 -->
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>Email
                </label>
                <div class="layui-input-inline">
                    <input th:value="${emp.getEmail()}" type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符
                </div>
            </div>

            <!--性别 -->
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>Gender
                </label>
                <div class="layui-input-block">

                    <label class="layui-form-label" >
                        <input th:checked="${emp.getGender()==0}" type="radio"  name="gender" value="0"  >
                        <i class="layui-icon" >&#xe643;</i>男
                    </label>

                    <label class="layui-form-label" >
                        <input th:checked="${emp.getGender()==1}" type="radio"  name="gender" value="1" checked>
                        <i class="layui-icon" >&#xe643;</i>女
                    </label>
                </div>
            </div>


            <!--部门-->
            <div class="layui-form-item">
                <label  class="layui-form-label" for="L_Dep">
                    <span class="x-red">*</span>部门</label>

                <div class="layui-input-inline">
                    <select class="layui-form-label" name="department.id" lay-verify="" id="L_Dep">
                        <option th:selected="${dep.getId()==emp.getDepartment.getId()}"  th:each="dep:${departments}"  th:value="${dep.getId()}">[[${dep.getDepartmentName()}]]</option>
                    </select>
                </div>

            </div>
            <!--生日-->
            <div class="layui-form-item">
                <label for="L_birth" class="layui-form-label">
                    <span class="x-red">*</span>Birth</label>
                <div class="layui-input-inline">
                    <input th:value="${#dates.format(emp.getBirth())}" type="text" id="L_birth" name="birth" required="" lay-verify="birth" autocomplete="off" class="layui-input"></div>
            </div>
            <!--添加按钮-->
            <div class="layui-form-item">
                <label  class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">修改</button>
            </div>
        </div>
    </div>
</form>
</body>

</html>